.selected {
    text-decoration: none; 
    color:black;
    background-color: rgb(209, 209, 209);
  }

  .normal {
    text-decoration: none;
    color:black;
  }

  .sub {
    color:red;
    background-color: blue;
    /* padsding-left: 20px; */
    /* margin-left: 20px; */
  }