/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


:root {
  --blue: #ddd;
  --chefsnacc-pink: #f351d0;
  color: rgb(255, 255, 255);
  height: 100%;
}

body {
  /* background-color: rgb(153, 89, 89); */
  font-family: 'Bitter';
  color: #444;
}

.selected:hover {
  box-shadow: 0px 0px 14px rgb(106, 236, 236);
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#App {
  height: 100vh;
}

/* .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
} */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 36px;
  top: 36px;
  /*disables this in favour of a react component*/
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #c07676;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 80px;
  width: 80px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(55, 58, 71, 0.95);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: #ffffff;
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
